<!--recursive solution to a nested tree-->
<ng-container *ngTemplateOutlet="submenu; context: {$implicit: menu}">
</ng-container>
<ng-template #submenu let-menu>
  <ul>
    <li *ngFor="let node of menu; let i=index;">
      <input type="checkbox" (click)="selected(node)"/> {{node.name}}
      <ng-container *ngIf="node.visible">
        <ng-container *ngTemplateOutlet="submenu; context: {$implicit: node.choices}">
        </ng-container>
        <ng-container *ngIf="node.related && node.related.length > 0">
          <p>You might also like</p>
          <app-tree [menu]="node.related"></app-tree>
        </ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template>

